*, *::before , *::after {
    box-sizing: border-box;
}

body{
    background-color: rgb(121, 121, 121);
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro{
    display: block;
    height: auto;
    width: 17rem;
    color: aliceblue;
    background-color: rgb(51, 51, 53);
    position: fixed;
    z-index: 999;
    padding: 3px;
    font-style: oblique;
    border-radius: 6px;
}

.piano{
    display: flex;
    margin-top: 10rem;

}

.key{
height: calc(var(--width )* 4);
width: var(--width);
}

.white{
--width: 100px;
background-color: white;
border: 1px solid black;
padding-top: 90px;
padding-left: 30px;
}

.white.active{
    background-color: #ccc;
}

.black{
    --width: 60px;
    background-color: black;
    margin-right: -30px;
    margin-left: -30px;
    z-index: 2;
    color: #ccc;
    padding: 9px;
}


.black.active{
    background-color: #333;
}